hardware/__Previews
hardware/History
hardware/Project Logs for CX_10_DJT
hardware/Project Outputs for CX_10_DJT

software/.metadata
software/RemoteSystemsTempFiles
software/CX10/SW4STM32/CX10\ Configuration/Debug